 main{
    margin-top: 50px;
}

.container h5 {
    margin: 0.5rem 0;
    color: #FDC800;
    font-weight: bold;
}

.container h1 {
    font-style: 40px;
    font-weight: bold;
    color: #002147;
    margin-bottom: 30px;
    width: 400px;
}

