/* reset program  start*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: auto;
    padding: 0;
}

.bg-color-main {
    background-color: #F0F4F9;
    min-height: 800px;
}

img {
    user-select: none;
}

ul,li {
    list-style-type: none;
}


/* reset program  end*/

/* لتعديل عند تحديد */
::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 186, 186);
  }

  body{
    overflow-x: hidden;
  }
  
  
  /* لتعديل على السكول  */
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #002147;
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: #FDC800;
  
  }
  
 